<!DOCTYPE html>
<html >
<head id="headId">
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
<div align="center">
    <h1>Guess the Number Game</h1>
    <!--        Preprocessing dose not work for some reason-->
    <h3 id="main-message">Main Message Content</h3>
    <h3 id="result-message">Result Message Content</h3>
    <!--        <h3 th:text="${mainMessage}">Main Message Content</h3>-->
    <!--        <h3 th:text="${resultMessage}">Result Message Content</h3>-->


    <!--        Preprocessing dose not work for some reason-->
    <!--        <form th:action="play"-->
    <form id="game-form"
          action="some"
          method="post">
        <label for="guess">Enter your guess</label>
        <input id="guess" type="number" name="guess"/>
        <input type="submit" value="Submit"/>
    </form>


</div>
<footer id="footerId">Test</footer>
</body>
</html>
