<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guess the Number</title>
</head>
<body>
    <div align="center">
        <h1>Guess the Number Game</h1>
        <!--        Preprocessing dose not work for some reason-->
<!--        <h3 th:text="${__${T(hr.pejak.util.AttributeNames).MAIN_MESSAGE}__}">Main Message Content</h3>-->
<!--        <h3 th:text="${__${T(hr.pejak.util.AttributeNames).RESULT_MESSAGE}__}">Result Message Content</h3>-->
        <h3 th:text="${mainMessage}">Main Message Content</h3>
        <h3 th:text="${resultMessage}">Result Message Content</h3>


<!--        Preprocessing dose not work for some reason-->
<!--        <form th:action="@{__${T(hr.pejak.util.GameMappings).PLAY}__}"-->
        <form th:action="play"
              acction="some"
              method="post">
            <label for="guess">Enter your guess</label>
            <input id="guess" type="number" name="guess"/>
            <input type="submit" value="Submit"/>
        </form>

        <footer>
            <p>Create by hpejak</p>
        </footer>
    </div>
</body>
</html>